@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@keyframes ping-xs {
  75%, 100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes ping-xs-offset {
    50%, 75% {
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }